.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fs-6 {
  font-size: 3rem;
}
.m-6 {
  margin: 4.5rem;
}
.mt-6 {
  margin-top: 4.5rem;
}
.mt-7 {
  margin-top: 6rem;
}
.mt-8 {
  margin-top: 7.5rem;
}
.mb-6 {
  margin-bottom: 4.5rem;
}
.p-6 {
  padding: 4.5rem;
}
.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}

.fw-600 {
  font-weight: 600;
}

.secondary-color {
  color: #565d6a;
}

.primary-btn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid #000;
}
.primary-reverse-btn {
  padding: 10px;
  background-color: #000;
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
