.banner-container {
  background-color: #ededed;
}
.banner-container p {
  margin-left: 1.5rem !important;
  font-weight: 600;
  color: #828282;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .banner-container p {
    font-size: 11px;
  }
}
